.header {
  position: relative;
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
  background-color: #e4ecf3;
  border: 1px solid #e4ecf3;
  border-radius: 5px;
  z-index: 2000;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 3em;
}

.logo {
  width: 75px;
  border-radius: 5px;
}

ul.navContainer {
  display: flex;
  margin-right: 3em;
}

.links {
  font-size: 1.1em;
}
